<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>A simple http server powered by koa.js</title>
  </head>
  <body>
    <h1>Submit a text</h1>
    <form action="/upload/text" method="post">
      <textarea name="textLayout" rows="20" cols="60"></textarea> </br>
      <input type="submit" value="Submit text" />
    </form>
    <h1>Or upload a file</h1>
    <form action="/upload/file" enctype="multipart/form-data" method="post">
      <input type="file" name="upload" multiple="multiple" />
      <input type="submit" value="Upload file" />
    </form>
  </body>
</html>